html, body {
    height: 100%;
    width: 100%;
    background-color: lightblue;
  }
  
  
  
  
  input[type=button] {
  background:#C0C0C0;
  width:50px;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 10px;
  font-size:15px;
  }